    .r {
        outline: 3px solid red;
    }
    
    .b {
        outline: 3px solid blue;
    }
    
    .y {
        outline: 3px solid yellow;
    }
    
    .g {
        outline: 3px solid green;
    }
    
    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    body {
        margin: 0;
        padding: 0;
        min-width: 1200px;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: left;
        color: #283136;
        background-color: #ffffff;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    a {
        text-decoration: none;
    }
    
    .visually-hidden:not(:focus):not(:active),
    input[type="checkbox"].visually-hidden,
    input[type="radio"].visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    .hidden {
        display: none;
    }
    /*кнопки*/
    
    .btn {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        padding: 16px 0;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
    
    .btn:active {
        box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
    }
    
    .btn-red {
        color: #ffffff;
        background-color: #fb565a;
    }
    
    .btn-red:hover,
    .btn-red:focus {
        background-color: #e74246;
    }
    
    .btn-red:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #d7373b;
    }
    
    .btn-green {
        color: #ffffff;
        background-color: #00ca74;
    }
    
    .btn-green:hover,
    .btn-green:focus {
        background-color: #00bc6c;
    }
    
    .btn-green:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #00aa62;
    }
    
    .btn-yellow {
        color: #ffffff;
        background-color: #efc84a;
    }
    
    .btn-yellow:hover,
    .btn-yellow:focus {
        background-color: #eab534;
    }
    
    .btn-yellow:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #e5a722;
    }
    
    .btn-grey {
        color: #000000;
        background-color: #eeeeee;
    }
    
    .btn-grey:hover,
    .btn-grey:focus {
        background-color: #dfdfdf;
    }
    
    .btn-grey:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #d5d5d5;
    }
    
    .btn-small {
        width: 160px;
        margin-top: 32.5px;
    }
    
    .btn-catalog {
        width: 200px;
    }
    
    .btn-medium {
        width: 220px;
        margin-top: 38px;
    }
    
    .btn-big {
        width: 240px;
        margin-top: 25px;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    /* header */
    
    .main-header {
        height: 545px;
        margin-bottom: 80px;
        background-color: #eeeeee;
    }
    
    .main-header-logo:hover,
    .main-header-logo:focus {
        opacity: 0.8;
    }
    
    .main-header-logo:active {
        opacity: 0.3;
    }
    /* navigation */
    
    .main-navigation {
        display: flex;
        padding-top: 49px;
    }
    
    .main-navigation a {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: #000000;
        text-transform: uppercase;
    }
    
    .site-navigation {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 440px;
        margin-left: 202px;
        padding-left: 0;
    }
    
    .cart-navigation {
        margin-left: auto;
    }
    
    .site-navigation,
    .cart-navigation {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 26px;
        list-style: none;
    }
    
    .cart-navigation .cart-link {
        position: relative;
        padding-left: 50px;
    }
    
    .cart-link::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 10px;
        width: 15px;
        height: 15px;
        background-image: url("../img/cart-icon.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    
    .link-activ {
        padding-bottom: 2px;
        border-bottom: 2px solid #fb565a;
    }
    
    .site-navigation a,
    .cart-navigation a {
        display: block;
        color: #000000;
    }
    
    .site-navigation a:hover,
    .site-navigation a:focus,
    .cart-navigation a:hover,
    .cart-navigation a:focus {
        color: #fb565a;
    }
    
    .site-navigation a:active,
    .cart-navigation a:active {
        color: rgba(0, 0, 0, 0.3);
    }
    /* slider */
    
    .slider {
        position: relative;
        padding-top: 22px;
        padding-bottom: 80px;
    }
    
    .slider p {
        padding-top: 10px;
    }
    
    .slider-item-1 h2,
    .slider-item-2 h2,
    .slider-item-3 h2 {
        margin-bottom: 0;
    }
    
    .slider-item-1::after,
    .slider-item-2::after,
    .slider-item-3::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
    }
    
    .slider-item-1::after {
        right: 51px;
        bottom: 0px;
        width: 698px;
        height: 413px;
        background: url(../img/slide-picture-1.png) no-repeat;
    }
    
    .slider-item-2::after {
        right: 21px;
        bottom: 0px;
        width: 663px;
        height: 430px;
        background: url(../img/slide-picture-2.png) no-repeat;
    }
    
    .slider-item-3::after {
        right: 20px;
        bottom: 0px;
        width: 759px;
        height: 411px;
        background: url(../img/slide-picture-3.png) no-repeat;
    }
    
    .slider h2 {
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        color: #000000;
    }
    /* features */
    
    .features {
        padding-bottom: 80px;
        border-bottom: 2px solid #eeeeee;
    }
    
    .features h2 {
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #000000;
        text-transform: uppercase;
    }
    
    .features-list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-right: 60px;
        padding-left: 0px;
        list-style-type: none;
    }
    
    .features-item p {
        margin-bottom: 0px;
    }
    
    .features-item {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }
    /* advantages */
    
    .about-us {
        display: flex;
        justify-content: space-between;
        margin-top: 38px;
        padding-bottom: 72px;
        border-bottom: 2px solid #eeeeee;
    }
    
    .about-us-advantages {
        width: 665px;
    }
    
    .about-us-statistics {
        width: 360px;
        text-align: center;
    }
    
    .about-us-advantages h2 {
        margin-bottom: 0;
        font-size: 45px;
        font-weight: 500;
        line-height: 45px;
        color: #000000;
    }
    
    .about-us-advantages p {
        margin-top: 33px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
        color: #283136;
    }
    
    .about-us-advantages h3 {
        margin-top: 39px;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #000000;
        text-transform: uppercase;
    }
    
    .advantages-list {
        margin: 24px 0 0 0;
        padding: 0;
        list-style: none;
    }
    
    .advantages-list li {
        position: relative;
        margin-top: 24px;
        margin-left: 35px;
        font-size: 16px;
        line-height: 24px;
        color: #283136;
    }
    
    .advantages-list li:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -35px;
        width: 25px;
        height: 2px;
        background-color: #fb565a;
    }
    
    .about-us-statistics h3 {
        margin-top: 32px;
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        text-transform: uppercase;
    }
    
    .statistics-table {
        margin-top: 57px;
        display: flex;
        justify-content: space-between;
    }
    
    .statistics-table sup {
        font-size: 28px;
    }
    
    .statistics-table tr {
        text-align: left;
    }
    
    .statistics-table td {
        padding: 0;
        padding-right: 18px;
    }
    
    .table-row-1 {
        font-size: 45px;
        font-weight: 700;
        line-height: 10px;
        color: #000000;
    }
    
    .table-row-2 td {
        padding-top: 35px;
    }
    
    .statistics-table tr:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }
    /*partner*/
    
    .partners {
        margin-top: 50px;
        margin-bottom: 81px;
        padding-bottom: 24px;
        border-bottom: 2px solid #eeeeee;
    }
    
    .partners-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
        list-style: none;
    }
    
    .partners-list li {
        position: relative;
        display: flex;
        justify-content: center;
        width: 260px;
        height: 90px;
        text-align: center;
    }
    
    .partners-list a {
        display: flex;
        align-items: center;
    }
    
    .partners-list li:not(:last-of-type)::after {
        content: '';
        position: absolute;
        top: 13px;
        right: -20px;
        width: 2px;
        height: 52px;
        background-color: #eeeeee;
    }
    
    .partners-list a {
        opacity: 0.2;
    }
    
    .partners-list a:hover,
    .partners-list a:focus {
        opacity: 1;
    }
    
    .partners-list a:active {
        opacity: 0.1;
    }
    /*contacts*/
    
    .main-footer {
        display: flex;
        flex-direction: column;
    }
    
    .map {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 416px;
        margin-bottom: 70px;
        background-image: url(../img/map.jpg);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
    .contacts {
        width: 318px;
        height: 308px;
        margin: 54px 0;
        padding-top: 25px;
        padding-left: 50px;
        background-color: #ffffff;
    }
    
    .contacts h3 {
        margin: 0;
        padding-top: 26px;
    }
    
    .contacts p {
        margin: 0;
        padding-top: 20px;
    }
    
    .contacts-tel {
        color: #666666;
    }
    
    .contacts address {
        padding-top: 26px;
    }
    
    .map h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        color: #000000;
    }
    
    .map address,
    .map p {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        color: #666666;
        font-style: normal;
    }
    /*social*/
    
    .footer-social {
        display: flex;
        align-items: center;
        margin-bottom: 69px;
    }
    
    .social {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 260px;
        margin: 0;
        margin-right: 140px;
        padding: 0;
        text-align: center;
        list-style: none;
    }
    
    .social-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 79px;
        height: 79px;
        background-color: #e1e1e1;
        border-radius: 50px;
    }
    
    .social-button:focus,
    .social-button:hover {
        background-color: #e74246;
    }
    
    .social-button:active {
        background-color: #d7373b;
        box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    }
    
    .social-button:active svg {
        opacity: 0.3;
    }
    /* .promo */
    
    .promo {
        display: flex;
        flex-direction: column;
    }
    
    .promo h2 {
        margin: 0;
        margin-bottom: 12px;
        padding-top: 0;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        color: #000000;
    }
    
    .promo p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #444444;
    }
    /*Страница catalog.html*/
    
    .inner-page .main-header {
        display: flex;
        flex-direction: column;
        height: 355px;
        margin-bottom: 53px;
    }
    
    .catalog-heiding {
        padding-top: 68px;
        margin: 0 auto;
        text-align: center;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        color: #000000;
    }
    
    .filters-sort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .filter {
        width: 261px;
        padding-top: 5px;
    }
    
    .filter fieldset {
        border: none;
    }
    
    .filter legend {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .filter label {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #283136;
    }
    
    .options legend {
        padding-top: 58px;
    }
    
    .filter-option,
    .filter-advantages {
        list-style: none;
    }
    /*sort*/
    
    .sort-catalog {
        width: 760px;
    }
    
    .sort {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }
    
    .sort-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 272px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .sort-list-arrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        margin-left: auto;
        padding: 0;
        width: 40px;
        list-style: none;
    }
    
    .icon-arrow {
        opacity: 0.2;
        fill: #a6a6a6;
    }
    
    .icon-arrow:hover,
    .icon-arrow:focus {
        opacity: 1;
    }
    
    .icon-arrow:active {
        opacity: 1;
        fill: #231F20;
    }
    
    .sort h3 {
        margin: 0;
        margin-right: 268px;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .sort-list a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.3);
    }
    
    .sort-list a:hover,
    .sort-list a:focus {
        color: rgba(0, 0, 0, 0.6);
    }
    
    .sort-list a:active,
    .sort-list a:visited,
    .sort-list .link-visited {
        color: #000000;
    }
    /*catalog*/
    
    .catalog {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }
    
    .catalog-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        list-style: none;
    }
    
    .catalog-list li {
        position: relative;
        margin: 0;
        margin-bottom: 26px;
        padding-top: 40px;
    }
    
    .catalog-list li:hover:before {
        opacity: 1;
    }
    
    .catalog-list li:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='360' height='40' viewBox='0 0 360 40'%3E%3Cpath fill='%234D4D4D' d='M356 0H4C1.8 0 0 1.8 0 4v36h360V4c0-2.2-1.8-4-4-4zM22.991 27a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm23.011 0a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm23.011 0a7 7 0 1 1 0-14 7 7 0 0 1 0 14z'/%3E%3C/svg%3E");
        position: absolute;
        top: 1px;
        width: 360px;
        height: 40px;
        opacity: 0.12;
    }
    
    .catalog-info {
        display: none;
    }
    
    li:hover .catalog-info {
        position: relative;
        bottom: 238px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 231px;
        margin-bottom: -300px;
        background-color: #eeeeee;
        text-align: center;
    }
    
    .catalog-info a {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .catalog-info a:hover,
    .catalog-info a:focus {
        color: #fb565a;
    }
    
    .catalog-info a:active {
        color: rgba(0, 0, 0, 0.3);
    }
    
    .catalog-info h3 {
        margin: 0;
        margin-top: 28px;
        margin-bottom: 14px;
    }
    
    .catalog-info p {
        margin: 0;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 18px;
        color: #666666;
    }
    /*pagination*/
    
    .pagination {
        margin-bottom: 60px;
    }
    
    .pagination-list {
        display: flex;
        justify-content: space-between;
        width: 444px;
        margin: 0;
        padding-left: 0;
        text-align: center;
        list-style: none;
    }
    
    .pagination-list a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #eeeeee;
        border-radius: 5px;
        text-transform: uppercase;
    }
    
    .pagination-item a {
        width: 260px;
        height: 50px;
    }
    
    .pagination-list a,
    .pagination-item a {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #000000;
    }
    
    .pagination-list a:hover,
    .pagination-list a:focus {
        background-color: #dfdfdf;
    }
    
    .pagination-visited a {
        border: solid 3px #dbdbdb;
        background-color: #ffffff;
    }
    
    .pagination-list a:active {
        color: rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
        background-color: #d5d5d5;
    }
    /*Блок стоимость*/
    
    .filter-item {
        width: 261px;
        margin: 0 auto;
        padding: 0;
        border: none;
    }
    
    .range-filter {
        width: 260px;
        margin-top: 51px;
        margin-bottom: 33px;
    }
    
    .filter-item legend {
        padding: 0;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .range-controls {
        position: relative;
        height: 81px;
        margin-bottom: 13px;
        padding-top: 39px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #eeeeee;
        border-radius: 5px;
    }
    
    .range-controls .scale {
        height: 2px;
        background: #d7dcde;
    }
    
    .range-controls .bar {
        width: 70%;
        height: 2px;
        background: #00ca74;
    }
    
    .range-controls .toggle {
        position: absolute;
        top: 30px;
        left: 0;
        width: 20px;
        height: 20px;
        padding: 0;
        border: 8px solid #ffffff;
        background-color: #eeeeee;
        box-shadow: 0 2px 1px 0 #cfcfcf;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .max-price {
        padding-left: 14px;
    }
    
    .range-controls .toggle-min {
        left: 18px;
    }
    
    .range-controls .toggle-max {
        left: 160px;
    }
    
    .price-controls {
        font-size: 0;
    }
    
    .price-controls label {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .price-controls input {
        box-sizing: border-box;
        width: 80px;
        height: 38px;
        margin-left: 8px;
        padding-left: 17px;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        text-align: center;
        color: #283136;
        border: none;
        border-radius: 5px;
        background: #eeeeee;
    }
    
    .filter-list {
        margin-top: 16px;
        margin-bottom: 46px;
        padding-left: 0;
    }
    
    .filter-list li:not(:first-child) {
        padding-top: 16px;
    }
    
    input[type=radio] {
        display: none;
    }
    
    input[type="radio"]+label {
        position: relative;
        padding-left: 37px;
        padding-top: 4px;
        cursor: pointer;
    }
    
    input[type="radio"]+label::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background: url(../img/radio-off.svg) no-repeat;
        cursor: pointer;
        opacity: 0.4;
    }
    
    input[type="radio"]:checked+label::before {
        background: url(../img/radio-on.svg) no-repeat;
    }
    
    input[type="radio"]:hover+label::before,
    input[type="radio"]:focus+label::before {
        opacity: 1;
    }
    
    input[type="radio"]:checked:disabled+label::before,
    input[type="radio"]:disabled+label::before {
        opacity: 0.1;
    }
    
    .filter-list-advantages {
        margin-top: 16px;
        margin-bottom: 50px;
        padding-left: 0;
    }
    
    .filter-list-advantages li:not(:first-child) {
        padding-top: 16px;
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    input[type="checkbox"]+label {
        position: relative;
        padding-left: 37px;
        padding-top: 1px;
        cursor: pointer;
    }
    
    input[type="checkbox"]+label::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 23px;
        width: 23px;
        background: url(../img/checkbox-off.svg) no-repeat;
        cursor: pointer;
        opacity: 0.4;
    }
    
    input[type="checkbox"]:checked+label::before {
        height: 23px;
        width: 27px;
        background: url(../img/checkbox-on.svg) no-repeat;
    }
    
    input[type="checkbox"]:hover+label::before,
    input[type="checkbox"]:focus+label::before {
        opacity: 1;
    }
    
    input[type="checkbox"]:checked:disabled+label::before,
    input[type="checkbox"]:disabled+label::before {
        opacity: 0.1;
    }
    
    .btn-advantages {
        width: 260px;
    }
    /* Всплывающая форма */
    
    .modal {
        position: fixed;
        color: #000000;
        background-color: #ffffff;
        background-position: 0 0;
        box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    }
    
    .modal-feedback {
        bottom: 80px;
        left: 50%;
        width: 960px;
        margin-left: -480px;
        padding: 73px 100px 0px;
    }
    
    .modal-close {
        position: absolute;
        top: 78px;
        right: 93px;
        width: 21px;
        height: 21px;
        border: 0;
        cursor: pointer;
        background-color: #ffffff;
        border: none;
        opacity: 0.3;
    }
    
    .modal-close:hover,
    .modal-close:focus {
        opacity: 1;
    }
    
    .modal-close:active {
        opacity: 0.1;
    }
    
    .modal-close::before,
    .modal-close::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 1px;
        width: 26px;
        height: 3px;
        background-color: #fb565a;
    }
    
    .modal-close::before {
        transform: rotate(45deg);
    }
    
    .modal-close::after {
        transform: rotate(-45deg);
    }
    
    .feedback-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .feedback-form h2 {
        margin: 0;
        margin-bottom: 40px;
        padding-right: 200px;
        font-size: 45px;
        font-weight: 500;
        line-height: 45px;
        color: #000000;
    }
    
    .feedback-form p {
        margin: 0;
        margin-top: 10;
        margin-bottom: 33px;
    }
    
    .feedback-form label {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        color: #000000;
    }
    
    .feedback-form p:last-of-type {
        margin: 0;
        margin-bottom: 40px;
    }
    
    .feedback-form input[type="text"],
    .feedback-form input[type="email"] {
        box-sizing: border-box;
        width: 360px;
        margin-top: 10px;
        padding-top: 14px;
        padding-bottom: 15px;
        padding-left: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(68, 68, 68, 0.5);
        background-color: #ffffff;
        border: solid 2px #d7dcde;
    }
    
    .feedback-form textarea {
        box-sizing: border-box;
        width: 760px;
        margin-top: 10px;
        padding-top: 12px;
        padding-bottom: 15px;
        padding-left: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(68, 68, 68, 0.5);
        background-color: #ffffff;
        border: solid 2px #d7dcde;
    }
    
    .feedback-form input[type="text"]:hover,
    .feedback-form input[type="email"]:hover,
    .feedback-form textarea:hover {
        border: solid 2px #b4b9bb;
    }
    
    .feedback-form input[type="text"]:focus,
    .feedback-form input[type="email"]:focus,
    .feedback-form textarea:focus {
        color: #444444;
        border: solid 2px #000000;
    }
    
    .feedback-form input[type="text"]:not(:placeholder-shown):invalid,
    .feedback-form input[type="email"]:not(:placeholder-shown):invalid {
        color: #e74246;
        border: solid 2px #e74246;
    }
    
    .btn-feedback {
        width: 260px;
        margin-bottom: 84px;
    }